<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定一个DAO接口，namespace命名空间指向接口-->
<mapper namespace="com.lzz.Dao.StudentMapper">


<!--思路：
       1.查询所有的学生信息
       2.根据查询出来的学生的tid，寻找对应的老师-->

<!--    按照查询嵌套处理-->
    <select id="getStudent" resultMap="StudentTeacher">
        select * from Student;
    </select>

    <resultMap id="StudentTeacher" type="Student">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <association property="teacher" column="tid" javaType="Teacher" select="getTeacher"/>
    </resultMap>

    <select id="getTeacher" resultType="Teacher">
        select * from Teacher where id=#{id};
    </select>



<!--    按照结果嵌套处理-->
    <select id="getStudent2" resultMap="StudentTeacher2">
        select s.id sid,s.name sname,t.name table_name
        from Student s,Teacher t
        where s.tid=t.id;
    </select>

    <resultMap id="StudentTeacher2" type="Student">
        <result property="id" column="sid"/>
        <result property="name" column="sname"/>
        <association property="teacher" javaType="Teacher">
            <result property="name" column="table_name"/>
        </association>
    </resultMap>

</mapper>