<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定一个DAO接口，namespace命名空间指向接口-->
<mapper namespace="com.lzz.Dao.UserMapper">
<!-- id指向相应接口内的方法，resultType规定返回类型，指向实体类，写全路径-->
    <select id="getuserlist" resultType="User">
    select * from test1.User;
    </select>
<!--  根据ID查询数据-->
    <select id="getUserById" parameterType="int" resultType="User">
        select * from test1.User where id=#{id};
    </select>

    <insert id="addUser" parameterType="User">
        insert into test1.User (id, name, password) value (#{id},#{name},#{password});
    </insert>

    <update id="UpdateUser1" parameterType="map">
        update test1.User set password=#{pwd} where id=#{zhuid};
    </update>

    <delete id="DeleteUser" parameterType="int">
        delete from test1.User where id=#{id};
    </delete>

    <update id="UpdateUser" parameterType="User">
        update test1.User set name=#{name},password=#{password} where id=#{id};
    </update>
</mapper>